body{
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.small-img {
    width: 300px; /* or any size you prefer */
    height: auto;
}
a {
    color: #ffffff; 
    text-decoration: underline; 
}
